body{
	margin:0;
	padding:0;
	background:cyan;
}
.main .my1{
	width:100%;
	opacity:0.6;
}
.main .my2{
	width:250px;
	height:250px;
	position:relative;
	bottom:275px;
	filter:saturate(700%);
}
.main .my3{
	width:250px;
	position:relative;
	left:900px;
	bottom:325px;
	border-radius:50%;
}
.header p{
	text-align:center;
	position:relative;
	bottom:520px;
	right:50px;
	font-size:60px;
	font-family:Cursive;
	text-decoration:underline;
}
.header .but a{
	margin:2px 2px;
    padding: 10px 20px;
    text-decoration:none;
    color:crimson; 
    display:inline;
    cursor:pointer;
    position:relative;
    bottom:550px;
    left:700px;    
    font-size:20px; 
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  margin-top:30px;
  margin-bottom:200px;
  background:black;
  opacity:0.8;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
	margin-top:-500px;
}
.column img{
	border-radius:20%;
    width:  120px;
    height: 220px;
    object-fit: cover;
}
.bcart{
	display:inline;
	justify-content:space-between;
	margin:220px;
	
}
.cart{
    position:relative;
	bottom:1150px;
}
.details{
	position:relative;
	bottom:1350px;
	display:flex;
	margin:10px;
	justify-content:space-between;
}
.list1{
	position:relative;
	left:100px;
}
.list2{
	text-align:center;
	
}
.list3{
	position:relative;
	right:170px;
	text-align:left;	
}
.cart1{
    position:relative;
	bottom:630px;
}
.details1{
	position:relative;
	bottom:950px;
	display:flex;
	margin:10px;
	justify-content:space-between;
}
.list4{
	position:relative;
	left:100px;
}
.list5{
	text-align:center;
	
}
.list6{
	position:relative;
	right:170px;
	text-align:left;		
}
.cart2{
    position:relative;
	bottom:60px;
}
.details2{
	position:relative;
	bottom:520px;
	display:flex;
	margin:10px;
	justify-content:space-between;
}
.list7{
	position:relative;
	left:100px;
}
.list8{
	text-align:center;
	
}
.list9{
	position:relative;
	right:170px;
	text-align:left;	
}

